/**
 *
 * Author : Aditya Shakya (adi1090x)
 * Github : @adi1090x
 * 
 * Colors
 **/

* {
    background:     #2d353bFF;
    entry-bg: #3d484dFF;
    background-transparent: rgba(45, 53, 59, 0.6);
    background-alt: #343f44FF;
    foreground:     #DAD1BEFF;
    orange:       #e69875FF;
    green:         #A7C080FF;
    red:         #E67E80FF;
}
